parameters:
	level: max
	symfony:
		containerXmlPath: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
	doctrine:
		objectManagerLoader: tests/object-manager.php
	paths:
		- src
		- tests
		- public
		- config
		- bin
		- migrations
	excludePaths:
		- public/index.php
		- tests/bootstrap.php
		- tests/object-manager.php
	ignoreErrors:
		-
			identifier: missingType.iterableValue
			path: src/Serializer
		-
			identifier: missingType.iterableValue
			path: src/ValueResolver
		-
			identifier: return.type
			path: src/Repository
		-
			identifier: unset.possiblyHookedProperty
			path: src/Service/FeedFetcher.php
